.header-info {
  display: flex;
  background-color: teal;
  color: whitesmoke;
  justify-content: space-between;
  padding: 10px;
}

.header-info a {
  text-decoration: none;
}

.container {
  display: flex;
  padding: 10px;
}

.section-1 {
  border: 1px teal;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;


}

.section-2 {
  padding: 10px;
  border-radius: 10px;
  margin-left: 100px;
  border: 1px teal;

}


.work-status {
  display: flex;

}

.work-status-1 {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

input {
  border-radius: 5px;
  padding: 5px;
  width: 300px;
}